<?if $(sys.BUILDARCH)="x86"?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?elseif $(sys.BUILDARCH)="x64"?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?elseif $(sys.BUILDARCH)="arm64"?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else?>
    <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
            Id="*"
            Name="{{product_name}}"
            UpgradeCode="{{upgrade_code}}"
            Language="!(loc.TauriLanguage)"
            Manufacturer="{{manufacturer}}"
            Version="{{version}}">

        <Package Id="*"
                 Keywords="Installer"
                 InstallerVersion="450"
                 Languages="0"
                 Compressed="yes"
                 InstallScope="perUser"
                 SummaryCodepage="!(loc.TauriCodepage)"/>

        <Property Id="REINSTALLMODE" Value="amus" />
        <Property Id="AUTOLAUNCHAPP" Secure="yes" />
        <Property Id="LAUNCHAPPARGS" Secure="yes" />

        {{#if allow_downgrades}}
            <MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="yes" />
        {{else}}
            <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" AllowSameVersionUpgrades="yes" />
        {{/if}}

        <InstallExecuteSequence>
            <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
        </InstallExecuteSequence>

        <Media Id="1" Cabinet="app.cab" EmbedCab="yes" />

        {{#if banner_path}}
        <WixVariable Id="WixUIBannerBmp" Value="{{banner_path}}" />
        {{/if}}
        {{#if dialog_image_path}}
        <WixVariable Id="WixUIDialogBmp" Value="{{dialog_image_path}}" />
        {{/if}}
        {{#if license}}
        <WixVariable Id="WixUILicenseRtf" Value="{{license}}" />
        {{/if}}

        <Icon Id="ProductIcon" SourceFile="{{icon_path}}"/>
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
        <SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute"/>

        {{#if homepage}}
        <Property Id="ARPURLINFOABOUT" Value="{{homepage}}"/>
        <Property Id="ARPHELPLINK" Value="{{homepage}}"/>
        <Property Id="ARPURLUPDATEINFO" Value="{{homepage}}"/>
        {{/if}}

        <Property Id="INSTALLDIR">
          <RegistrySearch Id="PrevInstallDirWithName" Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}" Name="InstallDir" Type="raw" />
          <RegistrySearch Id="PrevInstallDirNoName" Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}" Type="raw" />
        </Property>

        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.LaunchApp)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
        <CustomAction Id="LaunchApplication" Impersonate="yes" FileKey="Path" ExeCommand="[LAUNCHAPPARGS]" Return="asyncNoWait" />

        <UI>
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
            {{#unless license}}
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
            {{/unless}}
        </UI>

        <UIRef Id="WixUI_InstallDir" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="LocalAppDataFolder">
                <Directory Id="EXALTROOT" Name="ExaltAccountManager">
                    <Directory Id="EXALTVERSION" Name="v4">
                        <Directory Id="INSTALLDIR" Name="app"/>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
            <Component Id="DesktopShortcut" Guid="*">
              <Shortcut Id="desktopShortcut"
                        Name="{{product_name}}"
                        Target="[INSTALLDIR]{{main_exe}}"
                        WorkingDirectory="INSTALLDIR"
                        Icon="ProductIcon" />
              <RemoveFile Id="RemoveDesktopShortcut" Name="{{product_name}}.lnk" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\{{manufacturer}}\{{product_name}}" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
              </Component>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="{{product_name}}" />
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="RegistryEntries" Guid="*">
                <RegistryKey Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}">
                    <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
                </RegistryKey>
                {{#each deep_link_protocols as |protocol| ~}}
                <RegistryKey Root="HKCU" Key="Software\\Classes\\{{protocol}}">
                    <RegistryValue Type="string" Name="URL Protocol" Value=""/>
                    <RegistryValue Type="string" Value="URL:{{bundle_id}} protocol"/>
                    <RegistryKey Key="DefaultIcon">
                        <RegistryValue Type="string" Value="&quot;[!Path]&quot;,0" />
                    </RegistryKey>
                    <RegistryKey Key="shell\open\command">
                        <RegistryValue Type="string" Value="&quot;[!Path]&quot; &quot;%1&quot;" />
                    </RegistryKey>
                </RegistryKey>
                {{/each~}}
            </Component>
            <Component Id="Path" Guid="{{path_component_guid}}" Win64="$(var.Win64)">
                <File Id="Path" Source="{{main_binary_path}}" KeyPath="yes" Checksum="yes"/>
                {{#each file_associations as |association| ~}}
                {{#each association.ext as |ext| ~}}
                <ProgId Id="{{../../product_name}}.{{ext}}" Advertise="yes" Description="{{association.description}}">
                    <Extension Id="{{ext}}" Advertise="yes">
                        <Verb Id="open" Command="Open with {{../../product_name}}" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                {{/each~}}
                {{/each~}}
            </Component>
        </DirectoryRef>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize"/>
    </Product>
</Wix>
